  @import "variables";
@import "dropzone";

/* general */
.bg_half_transparent {
  background: rgba($loader-bg-color, $loader-bg-transparency);
}
.wask_loader {
  padding: 150px 0;
  position: fixed;
  z-index: 501;
  border: 0;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}


.wask_loader > div.v-spinner > div {
  margin: 0 auto;
}
.permissions_container {
  padding: 10px;
  background: hsla(0,0%,100%,.1);
}
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}
.fade-enter-active {
  transition-delay: .25s;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
a.router-link {
  text-decoration: none;
  color: $menu-text-color;
}
a.router-link svg.icon,
a.router-link i.icon {
  color: $menu-text-color;
}
a.router-link:hover > div {
  background: #534f4f;
}
a.router-link.router-link-active > div {
  background: $menu-bg-active;
}
.breadcrumbs li a {
  text-decoration: none;
  color: $menu-text-color;
}

/* pre-defined */
.wask_td_action {
  min-width: 150px;
}

/* override */
#admin .snack {
  z-index: 500 !important;
}

#admin .component-wrap {
  background-color: white;
  color: #333333;
  box-shadow: 10px 10px 40px rgba(0,0,0, 0.4);
}

#admin .content {
  background-color: #bbb;
}
#admin .toolbar__content {
  background-color: white;
}
#admin i.icon {
  color: #333333;
}

#admin aside i.icon {
  color: white;
}
#admin .toolbar__title {
  color: #333333;
}

#admin aside {
  background-color: #263238;
}

#admin .card {
  background-color: white;
  color: #333333;
}

#admin .flex.px-2.xs12.sm12 {
  margin:15px;
}

#admin .heading-elements {
  background-color: inherit;
  position: absolute;
  top: 35%;
  right: 20px;
  height: 38px;
  margin-top: -19px;
}
#admin .heading-elements a, #admin .heading-elements a i {
  color:#333333;
  text-decoration-line:none;
}

#admin .table {
  background-color: white;
  color: #333333;
}

#admin .table thead tr:not(:last-child) {
  border-bottom: 1px solid #7f7f7f;
}

#admin .table tbody tr:not(:last-child) {
  border-bottom: 1px solid #7f7f7f;
}

#admin .table .column.text-xs-left, #admin .table i.material-icons {
  color: #333333 !important;
}

#admin .table tbody tr:hover{
  background: #ffffff;
}

#admin .table tbody tr[active]{
  background: #ffffff;
}

#admin .input-group__selections__comma {
  color: #333333 !important;
}

#admin .datatable .datatable__actions {
  background-color: white;
  color: #333333;
  border-top: 1px solid grey;
}

#admin .menu__content {
  border: 1px solid grey;
}

#admin .menu__content .list {
  background-color: white;
  color: #333333;

}

#admin .menu__content .list i {
  color: #333333;
}

#admin .list__tile__action {
  min-width: unset;
}

#admin .list__tile__content a {
  padding-left: 15px;
}

#admin .breadcrumbs__item a, #admin .breadcrumbs__divider i {
  color: #999;
}

#admin .breadcrumbs__item--disabled a {
  color: #333;
}

#admin .toolbar__side-icon {
  margin-left: 25px;
} 

#admin .input-group__details {
  height: 1px;
  background-color: grey;
}
#admin .input-group__input input, #admin .input-group__append-icon{
  color: grey;
}

#admin .md-layout {
  border: 1px solid #e3e8ec;
}

#admin .usr-avatar {
    position: absolute;
    top: 60px;
    border: 10px solid white;
    left: 5px;
}
#admin .usr-img {
  width: 100%;
  height: 100%;
}
#admin .usr-name {
  color: #3598cf;
}